<header>
  <nav class="border-gray-200 px-4 py-4 shadow">
    <div class="mx-auto max-w-7xl">
      <ul class="flex gap-4">
        <li>
          <a href="/" class="font-normal text-gray-900">Home</a>
        </li>
        <% if(profile){ %>
        <li>
          <a href="/profile" class="font-normal text-gray-900">Profile</a>
        </li>
        <li>
          <a href="/logout" class="font-normal text-gray-900">Sign out</a>
        </li>
        <% } else{ %>
        <li>
          <a href="/sso" class="font-normal text-gray-900">Login</a>
        </li>
        <% } %>
      </ul>
    </div>
  </nav>
</header>
