<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SAML Jackson + AdonisJS Example App</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>
<div>
  @!component('header')
  <div class="max-w-7xl mx-auto h-screen">
    <div class="flex flex-col space-y-5 justify-center h-full">
      <h2 class="text-center text-3xl">Log in to App</h2>
      <div class="max-w-md mx-auto w-full px-3 md:px-0">
        <div class="py-5 px-5 border-gray-200 border bg-white rounded">
          <form class="space-y-3" method="POST" action="/login">
            <label htmlFor="teamId" class="block text-sm">Tenant ID / Organization ID / Team ID</label>
            <input
              type="text"
              name="tenant"
              id="tenant"
              placeholder="boxyhq.com"
              class="appearance-none text-sm block w-full border border-gray-300 rounded placeholder-gray-400 focus:outline-none focus:ring-indigo-500"
              required
              value="boxyhq.com"
              />
            <button
              type="submit"
              class="px-4 py-2 w-full border border-transparent rounded text-sm font-medium text-white bg-indigo-600 focus:outline-none"
              >
            Continue with SAML SSO
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
