@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #__next {
    @apply h-full;
  }
  .btn-primary {
    @apply bg-primary/70 hover:bg-primary/90 focus:ring-primary cursor-pointer rounded-lg px-4 py-2 text-center font-semibold uppercase text-white shadow-md focus:outline-none focus:ring-2 focus:ring-opacity-75;
  }
  .btn-secondary {
    @apply btn-primary bg-white font-medium text-gray-900 hover:bg-white disabled:cursor-not-allowed disabled:bg-gray-50;
  }
  .link-primary {
    @apply text-secondary/90 mt-2 flex items-center px-4 py-2 font-medium hover:font-bold dark:text-gray-400 dark:hover:text-gray-300 md:text-sm md:leading-6;
  }
}

.theme-default {
  --color-primary: 37 194 160;
  --color-secondary: 48 56 70;
}

html,
body {
  padding: 1rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}
