<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>BoxyHQ Enterprise SSO</title>
    <link rel="stylesheet" href="./styles/style.css" />
  </head>
  <body>
    <%- include partials/header.ejs %>
    <div class="mx-auto mt-10 max-w-7xl">
      <div class="space-y-3 border border-gray-200 px-3 py-3">
        <h1 class="text-2xl">Enterprise SSO + Hasura GraphQL Example</h1>
        <p>
          This is an example web app that demonstrate how to use SAML Jackson SSO for Hasura GraphQL
          authentication (via JWT).
        </p>
        <p class="text-gray-600">
          You can use
          <a href="https://mocksaml.com/" class="font-medium underline underline-offset-2"> Mock SAML </a>
          a free SAML 2.0 Identity Provider to test the SAML SSO integration.
        </p>
        <ul class="flex flex-row space-x-6">
          <li>
            <a
              class="underline underline-offset-2"
              target="_blank"
              rel="noreferrer"
              href="https://boxyhq.com/docs/jackson/overview">
              Documentation
            </a>
          </li>
          <li>
            <a
              class="underline underline-offset-2"
              target="_blank"
              rel="noreferrer"
              href="https://github.com/boxyhq/jackson">
              Github
            </a>
          </li>
          <li>
            <a
              class="underline underline-offset-2"
              target="_blank"
              rel="noreferrer"
              href="https://www.npmjs.com/package/@boxyhq/saml-jackson">
              NPM
            </a>
          </li>
          <li>
            <a
              class="underline underline-offset-2"
              target="_blank"
              rel="noreferrer"
              href="https://hub.docker.com/r/boxyhq/jackson">
              Docker Hub
            </a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
